.noteItem {

    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s; 
}

.noteItem:hover {
    
    transform: scale(1.05); 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); 
}

.notestyle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height: 100px;
    word-wrap: break-word;
}
